
html{width:100%;height:100%;background-color:#ffffff;}
body{font-size:12px;font-family:sans-serif;color:#000000;background-color:#ffffff;line-height:1.2;position:relative;overflow-x:hidden!important;min-height:100%;-webkit-text-size-adjust:none;}
html.app-loading{background:#ffffff url(../img/app-loading.gif) no-repeat center center;}
html.app-loading body{visibility:hidden;}
a{text-decoration:none;color:#000000;-webkit-tap-highlight-color:transparent;}
a:hover{color:#000000;}

#view{margin:0px auto;position:relative;}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak{visibility:hidden;}
.notext, .notext *{font-size:0px!important;text-shadow:none!important;white-space:nowrap!important;text-indent:-9999px!important;line-height:0px!important;overflow:hidden!important;color:transparent!important;}
.clearfix{display:block} * html .clearfix{height:1%} .clearfix:after,.clear {content:".";display:block;height:0;clear:both;visibility:hidden;} .clearfix{display:inline-block}
.noselect{user-select:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;}

.process{display:none;left:0px;top:0px;right:0px;bottom:0px;height:100%;width:100%;position:absolute;z-index:1;background-color:transparent;background-color:rgba(255,255,255,0.8);background-image:url(../img/empty.png);zoom:1;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);}
.process > div{left:50%;top:50%;height:100px;width:100px;margin-left:-50px;margin-top:-50px;position:fixed;background:transparent url(../img/app-loading.gif) no-repeat center center;}
html.app-process .process{display:block;}
.spinner{min-height:100px;background:transparent url(../img/app-loading.gif) no-repeat center center;}
.spinner.overlay{position:absolute;left:0;top:0;right:0;bottom:0;}

/* POPUP BASIC STYLES */
.popup{position:absolute;left:0px;top:0px;right:0px;min-height:100%;text-align:center;background-color:transparent;background-color:rgba(255,255,255,0.8);background-image:url(../img/empty.png);zoom:1;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);}
.popup.fixed{position:fixed;}
.popup-shadow{display:inline-block;margin-top:150px;}
.popup-close{position:absolute;right:5px;top:5px;font-size:27px;line-height:27px;display:block;height:27px;width:27px;text-shadow:-1px -1px 0 rgba(255,255,255,0.4),1px -1px 0 rgba(255,255,255,0.4),-1px 1px 0 rgba(255,255,255,0.4),1px 1px 0 rgba(255,255,255,0.4);}
.popup-content{width:500px;margin:auto 0px;padding-bottom:40px;position:relative;text-align:center;color:#000;font-size:20px;line-height:20px;background-color:#fff;border:1px solid #000;}
.popup-include{min-height:150px;}
.popup-include > div{padding-top:40px;}

.html-popups .popup-content{-webkit-transition:-webkit-transform ease 0.5s;transition:transform ease 0.5s;}
.html-popups.popup-on-show .popup-content{-webkit-transform:translateY(-500%);transform:translateY(-500%);}
.html-popups.popup-on-load .popup-content{-webkit-transform:translateY(0) translateZ(0);transform:translateY(0) translateZ(0);}
.html-popups.popup-on-close .popup-content{-webkit-transform:translateY(-500%);transform:translateY(-500%);}

/* CURRENT APP STYLES */
body{font-size:16px;}
h1{color:#f0f0f0;font-size:152px;line-height:160px;margin:0 0 50px 0;position:relative;/*text-indent:200px;*//*background:transparent url(../img/200x200.png) no-repeat left center;*/}
h1 > b{position:absolute;left:0px;bottom:5px;color:#0079bd;font-size:41px;line-height:41px;font-weight:normal;}
h1 > i{position:absolute;left:80px;top:50px;color:#0079bd;font-size:20px;line-height:20px;font-weight:normal;font-style:normal;}
p{margin:15px 0;line-height:1.2;}
a:hover{color:#04a9f4;text-decoration:none;}

.feed{}
.feed .entry{float:left;margin:32px;min-width:200px;min-height:200px;background:transparent url(../img/app-loading.gif) no-repeat center center;cursor:pointer;}
.feed .bar{height:45px;}
.feed .filter{float:left;}
.feed .filter .active{color:#04a9f4;}
.feed .pages{float:right;}
.feed .pages > span{color:#04a9f4;}
.feed .pages > *{margin:0 3px;}
.feed .lazy{height:550px;overflow-y:scroll;position:relative;}
.feed .lazy::-webkit-scrollbar{width:5px;height:5px;}
.feed .lazy::-webkit-scrollbar-track{background-color:#aae4ff;}
.feed .lazy::-webkit-scrollbar-thumb{background-color:#04a9f4;}

.wrapper, #view
{
    width: 640px;
    background: rgba(212,228,239,1);
    background: -moz-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
    background: -webkit-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: -o-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: -ms-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: linear-gradient(to bottom, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    font-family: "Droid Sans", sans-serif;
}


/* Login view .app-route-login  */

.content {
    max-width:500px;
    background: #f3f3f3;
    margin: auto;
}

.inner-form-block {
    height: 220px;
    margin: 0 auto 100px;
}

.screen-main-form {
    padding: 40px;
}

.align-center {
    text-align: center;
}

p.item-copy{
    text-transform: uppercase;
    font-size: 18px;
}

.item-title{
    text-transform: lowercase;
    font-size:15px;
}

.app-route-login .wrapper .screen-main-form .form-group .login-btn {
    width: 200px;
    margin: 20px auto;
    display: block;
    padding: 10px;
    color: #fff;
}

.app-route-login .wrapper h1,
.app-route-tasks .wrapper h1,
.app-route-upload .wrapper h1
{
    color: #fff;
    padding: 20px 0;
}

/* Tasks view */
.list-wrapper {
    padding: 20px 30px;
}

.list-wrapper li {
    padding: 20px 0;
    line-height: 22px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.list-wrapper li:nth-child(odd) {
    background-color: #f7f7f7;
}

.back-to-tasks {
    position: absolute;
    left:20px; top:10px;
}

/* Upload view */
.attach-img {
    display: block;
    width: 200px;
    height: 30px;
}

.submit-img {
    display: block;
    width: 200px;
    margin-top: 20px;
}

.upload-form {
    padding: 40px 20px; 
    position: relative;
}

.upload-file-container {
    /*background: url(../img/inputfile.jpg) -9px -50px no-repeat;*/

    padding-left: 73px;
}

.upload-file-container input {
    /*filter: alpha(opacity=0);*/
    /*opacity: 0;*/
}
