<div class="wrapper align-center">
    <h1>Select an issue</h1>
    <div class="content">
            <ul class="list-wrapper">
                <li class="item-issue" >
                    <a href="javascript:void(0)" ng-click="goToUploadView()"><img src="img/requirement.png"/> <b>MCMP-21</b>  <span class="item-title">Mainpage  Marquee space with rotating display</span></a>
                </li>

                <li class="item-issue">
                    <a href="javascript:void(0)" ng-click="goToUploadView()"><img src="img/bug.png"/> <b>MCMP-22</b>  <span class="item-title">Offers Near You module</span></a>
                </li>

                <li class="item-issue">
                    <a href="javascript:void(0)" ng-click="goToUploadView()"><img src="img/newfeature.png"/> <b>MCMP-25</b>  <span class="item-title">Mainpage > List offers with correct data</span></a>
                </li>

                <li class="item-issue">
                    <a href="javascript:void(0)" ng-click="goToUploadView()"><img src="img/newfeature.png"/> <b>MCMP-21</b>  <span class="item-title">Mainpage  Marquee space with rotating display</span></a>
                </li>

                <li class="item-issue">
                    <a href="javascript:void(0)" ng-click="goToUploadView()"><img src="img/requirement.png"/> <b>MCMP-21</b>  <span class="item-title">Mainpage  Marquee space with rotating display</span></a>
                </li>

                <li class="item-issue">
                    <a href="javascript:void(0)" ng-click="goToUploadView()"><img src="img/newfeature.png"/> <b>MCMP-21</b>  <span class="item-title">Mainpage  Marquee space with rotating display</span></a>
                </li>

                <li class="item-issue">
                    <a href="javascript:void(0)" ng-click="goToUploadView()"><img src="img/bug.png"/> <b>MCMP-22</b>  <span class="item-title">Offers Near You module</span></a>
                </li>

                <li class="item-issue">
                    <a href="javascript:void(0)" ng-click="goToUploadView()"><img src="img/requirement.png"/> <b>MCMP-25</b>  <span class="item-title">Mainpage > List offers with correct data</span></a>
                </li>

                <li class="item-issue">
                    <a href="javascript:void(0)" ng-click="goToUploadView()"><img src="img/newfeature.png"/> <b>MCMP-21</b>  <span class="item-title">Mainpage  Marquee space with rotating display</span></a>
                </li>

                <li class="item-issue">
                    <a href="javascript:void(0)" ng-click="goToUploadView()"><img src="img/requirement.png"/> <b>MCMP-21</b>  <span class="item-title">Mainpage  Marquee space with rotating display</span></a>
                </li>
                <li class="item-issue">
                    <a href="javascript:void(0)" ng-click="goToUploadView()"><img src="img/bug.png"/> <b>MCMP-21</b>  <span class="item-title">Mainpage  Marquee space with rotating display</span></a>
                </li>

                <li class="item-issue">
                    <a href="javascript:void(0)" ng-click="goToUploadView()"><img src="img/newfeature.png"/> <b>MCMP-22</b>  <span class="item-title">Offers Near You module</span></a>
                </li>

                <li class="item-issue">
                    <a href="javascript:void(0)" ng-click="goToUploadView()"><img src="img/requirement.png"/> <b>MCMP-25</b>  <span class="item-title">Mainpage > List offers with correct data</span></a>
                </li>

                <li class="item-issue">
                    <a href="javascript:void(0)" ng-click="goToUploadView()"><img src="img/requirement.png"/> <b>MCMP-21</b>  <span class="item-title">Mainpage  Marquee space with rotating display</span></a>
                </li>

                <li class="item-issue">
                    <a href="javascript:void(0)" ng-click="goToUploadView()"><img src="img/newfeature.png"/> <b>MCMP-21</b>  <span class="item-title">Mainpage  Marquee space with rotating display</span></a>
                </li>
            </ul>
    </div>
</div>